# Data Processing: MySQL

A checklist by Spiracular@gmail.com

Tutorial: https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753

Data source: https://sqlzoo.net/wiki/2015_UK_General_Election_Normalising_Data

Data description (opt): 

<div style="white-space: pre-wrap; padding: 10px; background-color: #ebebeb;">You can put a bunch of text here
</div>

Thing to try out (from [MySQL Documentation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-column-names.html)):

```
cursor.execute("SELECT last_name, first_name, hire_date "
               "FROM employees WHERE emp_no = %s", (123,))
row = dict(zip(cursor.column_names, cursor.fetchone()))
print("{last_name}, {first_name}: {hire_date}".format(row))
```

Also, see [this tutorial](https://www.mysqltutorial.org/mysql-cursor/) on cursor.

# Step 0: Libraries and Read In

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#%matplotlib notebook # zoomable

In [3]:
import seaborn as sns
sns.set_style("darkgrid")

In [4]:
#import math

In [ ]:
#from numpy import random

## Step 0.25: MySQL Connection

In [43]:
import mysql.connector

In [44]:
db_con = mysql.connector.connect(
   host="localhost",
   user="root",
   passwd="GuavaXiw!Fandango",
   database="ge_database"
)

In [45]:
cur = db_con.cursor()

In [46]:
# mycursor.execute("SHOW DATABASES;")
# print(mycursor.fetchall())

In [47]:
cur.execute("SHOW TABLES;")
print(cur.fetchall())

[('county',), ('ge',), ('region',)]

## Step 0.5: df from MySQL Query

In [61]:
table = "ge"

In [63]:
# READ IN
df = pd.read_sql("select * from {};".format(table), con=db_con)
df.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
0,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,Liberal Democrat,LD,Alan,Hilliar,Male,No,No,4076,0.088242,-0.255865757
1,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,UK Independence Party,UKIP,Bill,Walker,Male,No,No,8253,0.178671,0.133699373
2,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,Green,Green,Carl,Hewitt,Male,No,No,2025,0.043840,
3,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,Labour,Lab,Gary,Puffett,Male,No,No,8468,0.183326,0.062380048
4,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,Conservative,Con,Gerald,Howarth,Male,Yes,Yes,23369,0.505921,0.038729986

In [ ]:
# # WRITE OUT
# df.to_sql(con=con, name='table_name_for_df',
#           if_exists='replace', flavor='mysql')

# Step 1: Cleaning and Relabeling

In [53]:
table = "ge"

In [75]:
d_cur = db_con.cursor(dictionary=True)

query = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = \"{}\";
'''.format(table)

d_cur.execute(query)

In [76]:
for row in d_cur:
    print(row['COLUMN_NAME'])

ons_id
ons_region_id
constituency_name
county_name
region_name
country_name
constituency_type
party_name
party_abbreviation
firstname
surname
gender
sitting_mp
former_mp
votes
share
change

In [60]:
# df.columns

query = '''
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = \"{}\";
'''.format(table)

cur.execute(query)
print(cur.fetchall())

[('def', 'ge_database', 'ge', 'ons_id', 1, None, 'NO', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', 'PRI', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'ons_region_id', 2, None, 'YES', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'constituency_name', 3, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'county_name', 4, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'region_name', 5, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'country_name', 6, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'constituency_type', 7, None, 'YES', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'party_name', 8, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'party_abbreviation', 9, None, 'YES', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'firstname', 10, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', 'PRI', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'surname', 11, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', 'PRI', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'gender', 12, None, 'YES', 'varchar', 6, 6, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(6)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'sitting_mp', 13, None, 'YES', 'varchar', 3, 3, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(3)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'former_mp', 14, None, 'YES', 'varchar', 3, 3, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(3)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'votes', 15, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int(11)', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'share', 16, None, 'YES', 'float', None, None, 12, None, None, None, None, 'float', '', '', 'select,insert,update,references', '', ''), ('def', 'ge_database', 'ge', 'change', 17, None, 'YES', 'varchar', 20, 20, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(20)', '', '', 'select,insert,update,references', '', '')]

In [65]:
type(cur)

mysql.connector.cursor_cext.CMySQLCursor

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.describe()

## Step 1.1: Types and Relabeling

In [ ]:
#df.columns = ["Month", "AntiInf_acetic", "AntiInf_propionic", "AgAp_salicyclic", "AgAp_pyrazones", "Psylep_anxiolytic", "Psylep_hypnotic", "AntiOPD", "Antihistamines"]

In [ ]:
df.head()

## Step 1.2: Nans

In [51]:
# Get coordinates of nans
s = df.stack(dropna=False) ## See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html
L = [list(x) for x in s.index[s.isna()]]
print (L)

[]

# STOP AUTO-RUN

In [ ]:
assert False

# Step 2: EDA and Histograms

In [78]:
df.columns

Index(['ons_id', 'ons_region_id', 'constituency_name', 'county_name',
       'region_name', 'country_name', 'constituency_type', 'party_name',
       'party_abbreviation', 'firstname', 'surname', 'gender', 'sitting_mp',
       'former_mp', 'votes', 'share', 'change'],
      dtype='object')

In [ ]:
colname = "AntiInf_acetic"

####

plt.title("Hist of " + colname)

#plt.hist(df[colname])

sns.distplot(df[colname])

In [77]:
# Automatically applied column-wise

def mean_normalize(df):
    mean_normalized_df=(df-df.mean())/df.std()
    return mean_normalized_df

def minmax_normalize(df):
    minmax_normalized_df=(df-df.min())/(df.max()-df.min())
    return minmax_normalized_df

In [ ]:
mn_df = mean_normalize(df.loc[:, df.columns != 'Month'])

In [ ]:
mn_df.plot.hist(subplots=True, legend=False, title="Skews")

# Step 3: State Goals

## Inputs

## Outputs

## Brainstorm

In [ ]:
df.head()

## Step 3.1: More Cleaning

# Step 4: Derived Metrics and Pivot Tables

(as needed)